In [1]:
from datasets import load_dataset
import pandas as pd
import pyspark

In [2]:
dataset = load_dataset("wikipedia", "20220301.simple")
df = pd.DataFrame(dataset['train'])

Found cached dataset wikipedia (C:/Users/vomin/.cache/huggingface/datasets/wikipedia/20220301.simple/2.0.0/aa542ed919df55cc5d3347f42dd4521d05ca68751f50dbc32bae2a7f1e167559)

  0%|          | 0/1 [00:00<?, ?it/s]

In [3]:
df.loc[0]['text']

'April is the fourth month of the year in the Julian and Gregorian calendars, and comes between March and May. It is one of four months to have 30 days.\n\nApril always begins on the same day of week as July, and additionally, January in leap years. April always ends on the same day of the week as December.\n\nApril\'s flowers are the Sweet Pea and Daisy. Its birthstone is the diamond. The meaning of the diamond is innocence.\n\nThe Month \n\nApril comes between March and May, making it the fourth month of the year. It also comes first in the year out of the four months that have 30 days, as June, September and November are later in the year.\n\nApril begins on the same day of the week as July every year and on the same day of the week as January in leap years. April ends on the same day of the week as December every year, as each other\'s last days are exactly 35 weeks (245 days) apart.\n\nIn common years, April starts on the same day of the week as October of the previous year, and in leap years, May of the previous year. In common years, April finishes on the same day of the week as July of the previous year, and in leap years, February and October of the previous year. In common years immediately after other common years, April starts on the same day of the week as January of the previous year, and in leap years and years immediately after that, April finishes on the same day of the week as January of the previous year.\n\nIn years immediately before common years, April starts on the same day of the week as September and December of the following year, and in years immediately before leap years, June of the following year. In years immediately before common years, April finishes on the same day of the week as September of the following year, and in years immediately before leap years, March and June of the following year.\n\nApril is a spring month in the Northern Hemisphere and an autumn/fall month in the Southern Hemisphere. In each hemisphere, it is the seasonal equivalent of October in the other.\n\nIt is unclear as to where April got its name. A common theory is that it comes from the Latin word "aperire", meaning "to open", referring to flowers opening in spring. Another theory is that the name could come from Aphrodite, the Greek goddess of love. It was originally the second month in the old Roman Calendar, before the start of the new year was put to January 1.\n\nQuite a few festivals are held in this month. In many Southeast Asian cultures, new year is celebrated in this month (including Songkran). In Western Christianity, Easter can be celebrated on a Sunday between March 22 and April 25. In Orthodox Christianity, it can fall between April 4 and May 8. At the end of the month, Central and Northern European cultures celebrate Walpurgis Night on April 30, marking the transition from winter into summer.\n\nApril in poetry \nPoets use April to mean the end of winter. For example: April showers bring May flowers.\n\nEvents in April\n\nFixed Events \n\n April 1 - April Fools\' Day\n April 1 - Islamic Republic Day (Iran)\n April 2 - International Children\'s Book Day\n April 2 - Thai Heritage and Conservation Day\n April 2 - World Autism Awareness Day\n April 2 - Malvinas Day (Argentina)\n April 4 - Independence Day (Senegal)\n April 4 - International Day for Landmine Awareness and Assistance\n April 4 - Peace Day (Angola)\n April 5 - End of Tax Year (United Kingdom)\n April 6 - Tartan Day (Canada and United States)\n April 6 - Chakri Day (Thailand)\n April 7 - Day of Maternity and Beauty (Armenia)\n April 7 - Genocide Memorial Day (Rwanda)\n April 7 - World Health Day\n April 7 - Women\'s Day (Mozambique)\n April 8 - Buddha\'s Birthday (Buddhism)\n April 9 - Martyrs\' Day (Tunisia)\n April 9 - Day of National Unity (Georgia)\n April 9 - Day of the Finnish language\n April 12 - Cosmonauts\' Day (Russia), marking the day of Yuri Gagarin\'s space flight\n April 13 - Songkan (Laos), local New Year celebration\n April 13 - Cambodian New Year\n April 13 - Thomas Jefferson\'s Birthday (United States)\n April 14 - Southeast Asian New Year festivals, including Songkran\n April 14 - Georgian language Day\n April 14 - Youth Day (Angola)\n April 14 - Ambedkar Tayanti (India)\n April 14 - Pan-American Day\n April 15 - Tax Day (United States)\n April 15 - Kim Il-Sung\'s Birthday (North Korea)\n April 15 - Father Damien Day (Hawaii)\n April 15 - Jackie Robinson Day (Major League Baseball)\n April 16 - Birthday of Queen Margrethe II of Denmark\n April 16 - Emancipation Day (Washington, DC)\n April 16 - World Voice Day\n April 16 - Selena Day (Texas)\n April 17 - National Day of Syria\n April 17 - Flag Day (American Samoa)\n April 17 - Women\'s Day (Gabon)\n April 17 - World Hemophilia Day\n April 18 - Independence Day (Zimbabwe)\n April 18 - Invention Day (Japan)\n April 18 - International Day of Monuments and Sites\n April 19 - Bicycle Day\n April 19 - Dutch-American Friendship Day\n April 19 - Birthday of King Mswati III of Swaziland\n April 19 - Patriots\' Day (Massachusetts, Maine, Wisconsin)\n April 20 - 4/20 in Cannabis Culture\n April 21 - John Muir Day (California)\n April 21 - San Jacinto Day (Texas)\n April 21 - Kartini Day (Indonesia)\n April 21 - National Tree Planting Day (Kenya)\n April 21 - First Day of Ridran (Baha\'i faith)\n April 21 - Grounation Day (Rastafari movement)\n April 22 - Earth Day\n April 22 - Discovery Day (Brazil)\n April 23 - Saint George\'s Day, celebrating the patron saint of several countries, regions and cities (including England and Catalonia)\n April 23 - World Book Day\n April 23 - National Sovereignty and Children\'s Day (Turkey)\n April 24 - Democracy Day (Nepal)\n April 24 - Genocide Day (Armenia)\n April 24 - Republic Day (the Gambia)\n April 25 - Australia and New Zealand celebrate ANZAC Day. ANZAC  means Australian and New Zealand Army Corps, and began in 1915.\n April 25 - World DNA Day\n April 25 - World Malaria Day\n April 25 - Flag Day (Swaziland, Faroe Islands)\n April 25 - Freedom Day (Portugal)\n April 25 - Liberation Day (Italy)\n April 25 - Army Day (North Korea)\n April 26 - Union Day (Tanzania)\n April 26 - Confederate Memorial Day (Texas, Florida)\n April 27 - Independence Day (Sierra Leone and Togo)\n April 27 - Freedom Day (South Africa)\n April 27 - World Tapir Day\n April 27 - King\'s Day (Netherlands) from 2014, birthday of Willem-Alexander of the Netherlands\n April 28 - Workers Memorial Day\n April 28 - National Day (Sardinia)\n April 28 - National Heroes Day (Barbados)\n April 29 - Showa Day (Japan), birthday of Emperor Hirohito, who died in 1989\n April 29 - International Dance Day\n April 30 - Former Queen\'s Day Holiday in the Netherlands (changed to King\'s Day, April 27 in 2014), was the birthday of former Queen Juliana of the Netherlands\n April 30 - Flag Day in Sweden (birthday of King Carl XVI Gustaf of Sweden)\n April 30 - International Jazz Day\n April 30 - Walpurgis Night (Central and Northern Europe)\n\nMoveable Events \n\n Easter-related events in Western Christianity:\n Palm Sunday (between March 15 and April 18)\n Maundy Thursday (between March 19 and April 22)\n Good Friday (between March 20 and April 23)\n Easter Sunday (between March 22 and April 25)\n Easter Monday (between March 23 and April 26)\n Eastern Orthodox Easter falls between April 4 and May 8.\n Ascension Day (Western Christianity), falls between April 30 and June 3.\n Jewish Passover - falls in the same week as Western Christianity\'s Holy Week, which is the week leading up to Easter.\n Mother\'s Day (UK) falls between March 1 and April 4.\n World Snooker Championship (late April, early May)\n Horse racing - Grand National (UK), Kentucky Derby (United States)\n Start of Daylight Saving Time - Clocks going forward one hour:\n Most of Mexico\n Morocco (Ramadan does not include Daylight Saving Time)\n End of Daylight Saving Time - Clocks going back one hour:\n Southeast Australia, and New Zealand\n Chile\n Marathon Events in the following cities:\n Belgrade, Serbia\n Boston, Massachusetts, United States\n Brighton, United Kingdom\n Enschede, Netherlands\n London, United Kingdom\n Madrid, Spain\n Paris, France\n Rotterdam, Netherlands\n Utrecht, Netherlands\n Zurich, Switzerland\n\nSelection of Historical Events \n\n April 1, 1918 - The Royal Air Force is founded.\n April 1, 1976 - Apple Inc. is founded.\n April 1, 1979 - The Islamic Republic of Iran is founded.\n April 1, 1999 - The territory of Nunavut is created in Northern Canada.\n April 1, 2001 - The Netherlands introduces same-sex marriage, as the first country to do so.\n April 2, 1519 - Florida is sighted by a European for the first time.\n April 2, 1930 - Haile Selassie becomes Emperor of Ethiopia.\n April 2, 1982 - Start of the Falklands War, as Argentine forces land on the Falkland Islands.\n April 2, 2005 - Pope John Paul II dies aged 84, after 26-and-a-half years as Pope.\n April 3, 1973 - The first-ever mobile phone call is placed by Martin Cooper in New York City.\n April 4, 1721 - Robert Walpole becomes the first Prime Minister of Great Britain.\n April 4, 1841 - William Henry Harrison dies. He was President of the United States for 31 days, the shortest-ever time in office for a US President.\n April 4, 1960 - Senegal becomes independent.\n April 4, 1968 - Assassination of Martin Luther King, Jr. in Memphis, Tennessee.\n April 5, 1722 - Jacob Roggeveen becomes the first European to land on Easter Island, landing there on Easter Sunday.\n April 6, 1320 - Scotland\'s independence is confirmed with the Declaration of Arbroath.\n April 6, 1830 - The Mormon Church is founded.\n April 6, 1909 - Robert Peary claims to have been first at the North Pole on this date.\n April 7, 1994 - The Rwandan Genocide begins.\n April 9, 1865 - American Civil War: Confederate forces under Robert E. Lee surrender to Union forces.\n April 9, 1940 - World War II: Denmark and Norway are invaded by Nazi Germany.\n April 9, 1989 - April 9 tragedy: In Tbilisi, Georgia, a peaceful demonstration for independence is broken up by the Soviet Army, killing 20 people. The country gains independence on this date exactly two years later.\n April 10, 1815 - Mount Tambora in Indonesia erupts in a huge eruption, affecting the world\'s climate for at least a year.\n April 10, 2010 - A plane crash near Smolensk, Russia, kills several people who were important in Poland, including President Lech Kaczynski.\n April 11, 1814 - Napoleon Bonaparte is exiled to the island of Elba.\n April 11, 1954 - Said to have been the most boring day of the 20th century.\n April 12, 1861 - The American Civil War begins at Fort Sumter, Charleston, South Carolina.\n April 12, 1945 - US President Franklin D. Roosevelt dies, and Harry S. Truman replaces him.\n April 12, 1961 - Yuri Gagarin becomes the first human to fly into space.\n April 14, 1865 - US President Abraham Lincoln is shot dead at Ford\'s Theatre by John Wilkes Booth. Lincoln dies the next day.\n April 14, 2010 - Qinghai Province, China, is hit by an earthquake, killing tens of thousands of people.\n April 14, 2010 - The eruption of Eyjafjallajokull in Iceland shuts down air traffic around Europe for a week, due to its ash cloud.\n April 15, 1912 - The ship RMS Titanic sinks near Newfoundland after hitting an iceberg, resulting in the deaths of many of the people on board.\n April 16, 1943 - Albert Hofmann discovers LSD\'s effects.\n April 17, 1946 - Syria gains full independence from France.\n April 18, 1906 - 1906 San Francisco earthquake: San Francisco, California, is hit by a big earthquake, resulting in fires that destroy large parts of the city.\n April 18, 1980 - Zimbabwe gains full independence.\n April 19, 1897 - The first Boston Marathon is held.\n April 19, 1971 - Sierra Leone becomes a republic.\n April 19, 1993 - The siege of the Branch Davidians at Waco, Texas, ends in a fire that kills 82 people.\n April 19, 1995 - Timothy McVeigh carries out the Oklahoma City bombing, killing 169 people.\n April 19, 2005 - Joseph Alois Ratzinger becomes Pope Benedict XVI.\n April 20, 1902 - Marie Curie and Pierre Curie refine Radium.\n April 20, 2010 - Deepwater Horizon oil spill: A massive fire on the Deepwater Horizon drilling rig in the Gulf of Mexico kills 11 workers and causes a massive oil spill, the worst spill in US history.\n April 21, 753 BC - Legendary founding date of Rome\n April 21, 1509 - Henry VIII of England becomes King.\n April 21, 1908 - Frederick Cook claims to have reached the North Pole on this date.\n April 22, 1502 - Pedro Alvares Cabral becomes the first European to reach present-day Brazil.\n April 22, 1970 - Earth Day is observed for the first time.\n April 23, 1533 - The Church of England declares that Henry VIII of England and Catherine of Aragon are not married.\n April 24, 1916 - The Easter Rising occurs in Dublin, Ireland.\n April 24, 1990 - The Hubble Space Telescope is launched on the Space Shuttle Discovery.\n April 25, 1915 - World War I: In Turkey, the Battle of Gallipoli begins, Australian, French, British and New Zealand forces land at Anzac cove.\n April 25, 1974 - Portugal\'s dictatorship is overthrown in a coup, in what is known as the Carnation Revolution.\n April 26, 1937 - Spanish Civil War: German planes bomb the town of Guernica, Basque Country, later depicted in a painting by Pablo Picasso.\n April 26, 1964 - Tanganyika and Zanzibar merge to form Tanzania.\n April 26, 1986 - A reactor explosion occurs at the Chernobyl nuclear plant in present-day Ukraine, with radiation spreading around Europe and the world.\n April 26/27, 1994 - South Africa holds its first free elections.\n April 27, 1960 - Togo becomes independent from France.\n April 27, 1961 - Sierra Leone becomes independent from the United Kingdom.\n April 28, 1789 - Mutiny on the ship Bounty in the Pacific Ocean, lead by Fletcher Christian.\n April 28, 1945 - Benito Mussolini is executed by Italian partisans.\n April 28, 1947 - In Peru, Thor Heyerdahl starts his Kon-Tiki expedition aimed at proving his theory that the Polynesian settlers on the Pacific Ocean\'s islands came from South America.\n April 29, 1991 - A cyclone in Bangladesh kills an estimated 138,000 people.\n April 29, 2011 - The wedding of Prince William, Duke of Cambridge and Catherine, Duchess of Cambridge is broadcast worldwide.\n April 30, 1789 - George Washington becomes the first President of the United States.\n April 30, 1803 - The United States purchases (buys) the Louisiana territory from France.\n April 30, 1945 - Adolf Hitler commits suicide on the same day that the Soviet Army raises the Red Flag on Berlin\'s Reichstag.\n April 30, 1952 - The Diary of Anne Frank is published in English.\n April 30, 1975 - The Vietnam War ends, as North Vietnamese forces take Saigon.\n April 30, 1980 - Queen Juliana of the Netherlands abdicates the throne, and her daughter becomes Queen Beatrix of the Netherlands. Beatrix later also abdicates, on this day in 2013, in favor of her son, King Willem-Alexander of the Netherlands.\n\nTrivia \n\n In Western Christianity, there is a bigger likelihood of Easter falling in April than in March.\n The months around April (March and May) both start with an \'M\' in the English language, with an \'A\' as the second letter.\n In the English language, April is the first of three months in-a-row, along with May and June, that is also a female given name.\n The astrological signs for April are Aries (March 21 to April 20) and Taurus (April 21 to May 20).\n The sweet pea and daisy are the traditional birth flowers for April.\n Birthstone for April is the Diamond.\nApril 1 is the only day in April to start within the first quarter of the calendar year.\n If the months of the year were arranged in alphabetical order in the English language, April would come first.\n Six current European monarchs were born in April. They are King Philippe of Belgium (April 15), Queen Margrethe II of Denmark (April 16), Henri, Grand Duke of Luxembourg (April 16), Elizabeth II of the United Kingdom and Commonwealth realms (April 21), King Willem-Alexander of the Netherlands (April 27), and King Carl XVI Gustaf of Sweden (April 30).\n\nReferences'

In [18]:
# remove stopwords
import nltk
from nltk.corpus import stopwords
from nltk.tokenize import word_tokenize
nltk.download('stopwords')
nltk.download('punkt')
en_stop = set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\vomin\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!
[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\vomin\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

In [25]:
filter_tokenize = lambda text : [word for word in word_tokenize(text) if len(word) > 5 and word not in en_stop]
filter_tokenize(df.loc[0]['text'])

['fourth',
 'Julian',
 'Gregorian',
 'calendars',
 'months',
 'always',
 'begins',
 'additionally',
 'January',
 'always',
 'December',
 'flowers',
 'birthstone',
 'diamond',
 'meaning',
 'diamond',
 'innocence',
 'making',
 'fourth',
 'months',
 'September',
 'November',
 'begins',
 'January',
 'December',
 'exactly',
 'common',
 'starts',
 'October',
 'previous',
 'previous',
 'common',
 'finishes',
 'previous',
 'February',
 'October',
 'previous',
 'common',
 'immediately',
 'common',
 'starts',
 'January',
 'previous',
 'immediately',
 'finishes',
 'January',
 'previous',
 'immediately',
 'common',
 'starts',
 'September',
 'December',
 'following',
 'immediately',
 'following',
 'immediately',
 'common',
 'finishes',
 'September',
 'following',
 'immediately',
 'following',
 'spring',
 'Northern',
 'Hemisphere',
 'autumn/fall',
 'Southern',
 'Hemisphere',
 'hemisphere',
 'seasonal',
 'equivalent',
 'October',
 'unclear',
 'common',
 'theory',
 'aperire',
 'meaning',
 'referring',
 'flowers',
 'opening',
 'spring',
 'Another',
 'theory',
 'Aphrodite',
 'goddess',
 'originally',
 'second',
 'Calendar',
 'January',
 'festivals',
 'Southeast',
 'cultures',
 'celebrated',
 'including',
 'Songkran',
 'Western',
 'Christianity',
 'Easter',
 'celebrated',
 'Sunday',
 'Orthodox',
 'Christianity',
 'Central',
 'Northern',
 'European',
 'cultures',
 'celebrate',
 'Walpurgis',
 'marking',
 'transition',
 'winter',
 'summer',
 'poetry',
 'winter',
 'example',
 'showers',
 'flowers',
 'Events',
 'Events',
 'Islamic',
 'Republic',
 'International',
 'Children',
 'Heritage',
 'Conservation',
 'Autism',
 'Awareness',
 'Malvinas',
 'Argentina',
 'Independence',
 'Senegal',
 'International',
 'Landmine',
 'Awareness',
 'Assistance',
 'Angola',
 'United',
 'Kingdom',
 'Tartan',
 'Canada',
 'United',
 'States',
 'Chakri',
 'Thailand',
 'Maternity',
 'Beauty',
 'Armenia',
 'Genocide',
 'Memorial',
 'Rwanda',
 'Health',
 'Mozambique',
 'Buddha',
 'Birthday',
 'Buddhism',
 'Martyrs',
 'Tunisia',
 'National',
 'Georgia',
 'Finnish',
 'language',
 'Cosmonauts',
 'Russia',
 'marking',
 'Gagarin',
 'flight',
 'Songkan',
 'celebration',
 'Cambodian',
 'Thomas',
 'Jefferson',
 'Birthday',
 'United',
 'States',
 'Southeast',
 'festivals',
 'including',
 'Songkran',
 'Georgian',
 'language',
 'Angola',
 'Ambedkar',
 'Tayanti',
 'Pan-American',
 'United',
 'States',
 'Il-Sung',
 'Birthday',
 'Father',
 'Damien',
 'Hawaii',
 'Jackie',
 'Robinson',
 'League',
 'Baseball',
 'Birthday',
 'Margrethe',
 'Denmark',
 'Emancipation',
 'Washington',
 'Selena',
 'National',
 'American',
 'Hemophilia',
 'Independence',
 'Zimbabwe',
 'Invention',
 'International',
 'Monuments',
 'Bicycle',
 'Dutch-American',
 'Friendship',
 'Birthday',
 'Mswati',
 'Swaziland',
 'Patriots',
 'Massachusetts',
 'Wisconsin',
 'Cannabis',
 'Culture',
 'California',
 'Jacinto',
 'Kartini',
 'Indonesia',
 'National',
 'Planting',
 'Ridran',
 'Grounation',
 'Rastafari',
 'movement',
 'Discovery',
 'Brazil',
 'George',
 'celebrating',
 'patron',
 'several',
 'countries',
 'regions',
 'cities',
 'including',
 'England',
 'Catalonia',
 'National',
 'Sovereignty',
 'Children',
 'Turkey',
 'Democracy',
 'Genocide',
 'Armenia',
 'Republic',
 'Gambia',
 'Australia',
 'Zealand',
 'celebrate',
 'Australian',
 'Zealand',
 'Malaria',
 'Swaziland',
 'Islands',
 'Freedom',
 'Portugal',
 'Liberation',
 'Tanzania',
 'Confederate',
 'Memorial',
 'Florida',
 'Independence',
 'Sierra',
 'Freedom',
 'Africa',
 'Netherlands',
 'birthday',
 'Willem-Alexander',
 'Netherlands',
 'Workers',
 'Memorial',
 'National',
 'Sardinia',
 'National',
 'Heroes',
 'Barbados',
 'birthday',
 'Emperor',
 'Hirohito',
 'International',
 'Former',
 'Holiday',
 'Netherlands',
 'changed',
 'birthday',
 'former',
 'Juliana',
 'Netherlands',
 'Sweden',
 'birthday',
 'Gustaf',
 'Sweden',
 'International',
 'Walpurgis',
 'Central',
 'Northern',
 'Europe',
 'Moveable',
 'Events',
 'Easter-related',
 'events',
 'Western',
 'Christianity',
 'Sunday',
 'Maundy',
 'Thursday',
 'Friday',
 'Easter',
 'Sunday',
 'Easter',
 'Monday',
 'Eastern',
 'Orthodox',
 'Easter',
 'Ascension',
 'Western',
 'Christianity',
 'Jewish',
 'Passover',
 'Western',
 'Christianity',
 'leading',
 'Easter',
 'Mother',
 'Snooker',
 'Championship',
 'racing',
 'National',
 'Kentucky',
 'United',
 'States',
 'Daylight',
 'Saving',
 'Clocks',
 'forward',
 'Mexico',
 'Morocco',
 'Ramadan',
 'include',
 'Daylight',
 'Saving',
 'Daylight',
 'Saving',
 'Clocks',
 'Southeast',
 'Australia',
 'Zealand',
 'Marathon',
 'Events',
 'following',
 'cities',
 'Belgrade',
 'Serbia',
 'Boston',
 'Massachusetts',
 'United',
 'States',
 'Brighton',
 'United',
 'Kingdom',
 'Enschede',
 'Netherlands',
 'London',
 'United',
 'Kingdom',
 'Madrid',
 'France',
 'Rotterdam',
 'Netherlands',
 'Utrecht',
 'Netherlands',
 'Zurich',
 'Switzerland',
 'Selection',
 'Historical',
 'Events',
 'founded',
 'founded',
 'Islamic',
 'Republic',
 'founded',
 'territory',
 'Nunavut',
 'created',
 'Northern',
 'Canada',
 'Netherlands',
 'introduces',
 'same-sex',
 'marriage',
 'country',
 'Florida',
 'sighted',
 'European',
 'Selassie',
 'becomes',
 'Emperor',
 'Ethiopia',
 'Falklands',
 'Argentine',
 'forces',
 'Falkland',
 'Islands',
 '26-and-a-half',
 'first-ever',
 'mobile',
 'placed',
 'Martin',
 'Cooper',
 'Robert',
 'Walpole',
 'becomes',
 'Minister',
 'Britain',
 'William',
 'Harrison',
 'President',
 'United',
 'States',
 'shortest-ever',
 'office',
 'President',
 'Senegal',
 'becomes',
 'independent',
 'Assassination',
 'Martin',
 'Luther',
 'Memphis',
 'Tennessee',
 'Roggeveen',
 'becomes',
 'European',
 'Easter',
 'Island',
 'landing',
 'Easter',
 'Sunday',
 'Scotland',
 'independence',
 'confirmed',
 'Declaration',
 'Arbroath',
 'Mormon',
 'Church',
 'founded',
 'Robert',
 'claims',
 'Rwandan',
 'Genocide',
 'begins',
 'American',
 'Confederate',
 'forces',
 'Robert',
 'surrender',
 'forces',
 'Denmark',
 'Norway',
 'invaded',
 'Germany',
 'tragedy',
 'Tbilisi',
 'Georgia',
 'peaceful',
 'demonstration',
 'independence',
 'broken',
 'Soviet',
 'killing',
 'people',
 'country',
 'independence',
 'exactly',
 'Tambora',
 'Indonesia',
 'erupts',
 'eruption',
 'affecting',
 'climate',
 'Smolensk',
 'Russia',
 'several',
 'people',
 'important',
 'Poland',
 'including',
 'President',
 'Kaczynski',
 'Napoleon',
 'Bonaparte',
 'exiled',
 'island',
 'boring',
 'century',
 'American',
 'begins',
 'Sumter',
 'Charleston',
 'Carolina',
 'President',
 'Franklin',
 'Roosevelt',
 'Truman',
 'replaces',
 'Gagarin',
 'becomes',
 'President',
 'Abraham',
 'Lincoln',
 'Theatre',
 'Wilkes',
 'Lincoln',
 'Qinghai',
 'Province',
 'earthquake',
 'killing',
 'thousands',
 'people',
 'eruption',
 'Eyjafjallajokull',
 'Iceland',
 'traffic',
 'around',
 'Europe',
 'Titanic',
 'Newfoundland',
 'hitting',
 'iceberg',
 'resulting',
 'deaths',
 'people',
 'Albert',
 'Hofmann',
 'discovers',
 'effects',
 'independence',
 'France',
 'Francisco',
 'earthquake',
 'Francisco',
 'California',
 'earthquake',
 'resulting',
 'destroy',
 'Zimbabwe',
 'independence',
 'Boston',
 'Marathon',
 'Sierra',
 'becomes',
 'republic',
 'Branch',
 'Davidians',
 'people',
 'Timothy',
 'McVeigh',
 'carries',
 'Oklahoma',
 'bombing',
 'killing',
 'people',
 'Joseph',
 'Ratzinger',
 'becomes',
 'Benedict',
 'Pierre',
 'refine',
 'Radium',
 'Deepwater',
 'Horizon',
 'massive',
 'Deepwater',
 'Horizon',
 'drilling',
 'Mexico',
 'workers',
 'causes',
 'massive',
 'history',
 'Legendary',
 'founding',
 'England',
 'becomes',
 'Frederick',
 'claims',
 'reached',
 'Alvares',
 'Cabral',
 'becomes',
 'European',
 'present-day',
 'Brazil',
 'observed',
 'Church',
 'England',
 'declares',
 'England',
 'Catherine',
 'Aragon',
 'married',
 'Easter',
 'Rising',
 'occurs',
 'Dublin',
 'Ireland',
 'Hubble',
 'Telescope',
 'launched',
 'Shuttle',
 'Discovery',
 'Turkey',
 'Battle',
 'Gallipoli',
 'begins',
 'Australian',
 'French',
 'British',
 'Zealand',
 'forces',
 'Portugal',
 'dictatorship',
 'overthrown',
 'Carnation',
 'Revolution',
 'Spanish',
 'German',
 'planes',
 'Guernica',
 'Basque',
 'Country',
 'depicted',
 'painting',
 'Picasso',
 'Tanganyika',
 'Zanzibar',
 'Tanzania',
 'reactor',
 'explosion',
 'occurs',
 'Chernobyl',
 'nuclear',
 'present-day',
 'Ukraine',
 'radiation',
 'spreading',
 'around',
 'Europe',
 'Africa',
 'elections',
 'becomes',
 'independent',
 'France',
 'Sierra',
 'becomes',
 'independent',
 'United',
 'Kingdom',
 'Mutiny',
 'Bounty',
 'Pacific',
 'Fletcher',
 'Christian',
 'Benito',
 'Mussolini',
 'executed',
 'Italian',
 'partisans',
 'Heyerdahl',
 'starts',
 'Kon-Tiki',
 'expedition',
 'proving',
 'theory',
 'Polynesian',
 'settlers',
 'Pacific',
 'islands',
 'America',
 'cyclone',
 'Bangladesh',
 'estimated',
 '138,000',
 'people',
 'wedding',
 'Prince',
 'William',
 'Cambridge',
 'Catherine',
 'Duchess',
 'Cambridge',
 'broadcast',
 'worldwide',
 'George',
 'Washington',
 'becomes',
 'President',
 'United',
 'States',
 'United',
 'States',
 'purchases',
 'Louisiana',
 'territory',
 'France',
 'Hitler',
 'commits',
 'suicide',
 'Soviet',
 'raises',
 'Berlin',
 'Reichstag',
 'published',
 'English',
 'Vietnam',
 'Vietnamese',
 'forces',
 'Saigon',
 'Juliana',
 'Netherlands',
 'abdicates',
 'throne',
 'daughter',
 'becomes',
 'Beatrix',
 'Netherlands',
 'Beatrix',
 'abdicates',
 'Willem-Alexander',
 'Netherlands',
 'Trivia',
 'Western',
 'Christianity',
 'bigger',
 'likelihood',
 'Easter',
 'falling',
 'months',
 'around',
 'English',
 'language',
 'second',
 'letter',
 'English',
 'language',
 'months',
 'in-a-row',
 'female',
 'astrological',
 'Taurus',
 'traditional',
 'flowers',
 'Birthstone',
 'Diamond',
 'within',
 'quarter',
 'calendar',
 'months',
 'arranged',
 'alphabetical',
 'English',
 'language',
 'current',
 'European',
 'monarchs',
 'Philippe',
 'Belgium',
 'Margrethe',
 'Denmark',
 'Luxembourg',
 'Elizabeth',
 'United',
 'Kingdom',
 'Commonwealth',
 'realms',
 'Willem-Alexander',
 'Netherlands',
 'Gustaf',
 'Sweden',
 'References']

In [43]:
from sklearn.feature_extraction.text import CountVectorizer

vectorizer = CountVectorizer()
matrix = vectorizer.fit_transform(dataset['train']['text'][:10])

In [44]:
counts = pd.DataFrame(matrix.toarray(),
                      columns=vectorizer.get_feature_names_out())
counts

,000,01000001,04,10,11,12,1291,13,1320,138,...,you,young,younger,youth,yuri,zanzibar,zaragoza,zealand,zimbabwe,zurich
0,1,0,0,2,3,4,0,3,1,1,...,0,0,0,1,2,1,0,4,2,1
1,0,0,0,4,2,2,1,4,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
6,0,0,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
7,0,0,0,0,0,1,0,0,0,0,...,5,1,1,0,0,0,0,0,0,0
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0